@media (max-width: 61.25em){
html{
    font-size: 58%;
}
}

#welcome-section {
    background: gray;
    padding-top: 10%;
    padding-bottom: 20%;
    margin: auto;
    font-size: 50px;
    text-align: center;
}
#navbar {
background-color: #a69b38;
display: flex;
margin: auto;
font-size: 28px;
}
#navbar ul li{
    display: inline-block;
    margin: 10px;
}