@media (max-width: 61.25em){
html{
    font-size: 58%;
}
}

#welcome-section {
    background: aqua;
    padding-top: 10%;
    padding-bottom: 20%;
    margin: auto;
    font-size: 50px;
    text-align: center;
}